language: node_js
node_js:
- node
install:
- npm install
script:
- npm test
deploy:
  provider: npm
  email: taoabc@gmail.com
  api_key:
    secure: l4IHS/deMSw/jvXqlCyLLSA6ukZxRJTdJkLhtGJFjzkR1Ii1r2PSFftsSYYvj8bLJne0Hlio7AveZxSrZTyJMAYwdVvGTQY65WVETcPuAqllJA5BO4hlCOz67SVAEnCDF5pzelv7VVl1AxUbSDRo8bTNSXRV4j2zV5QE6b78RHg2+t0H9CSMxFH02mztRSr/KlO1VsUsFIE5mpMYzlZAjQciJsKLkRuCyB4yPZ8kxgfufrxaYCFcv67/bRzy439G8pi/9I2gW+i8KYw3fgcHGadlwte9mKB+36tdyTFyPz+0urWH7x2/YELGg07XLlJgb7o9rm8/fxo7j2zktXUU/KtNRBFdpBVHAJZ9mkMNQrWohAGdL0f4MIyw/SGFyJpVQMSCkV+U62ORbBIl6srBBRAPbfM6yapJS9FSGOcGT7qiaAF18YZmFDuo1HUBn8iTocAXUFuJlEPcEM+dxNSjiMTfzGsQBq04JaHPfLXaC2N3esCYhBNPJ83LYEB5UrEeT7NMZ52X1p4WdhVN8/q8alqm+sYrZtLl0iXl580zcLe9hFnmBoER4LB1kYPaZB3qzmKtiyrGyGePeym1JRzUHsdUtUnQiEUyM1OcamR4NYskdIC5YBXohkVAqfudYY5z5HnQRRzrksAKPhYLDQ4dsi/OhBdN2dDhG/kuomUvLcg=
  on:
    branch: production
    repo: taoabc/msoconv
